@import "tailwindcss";
@import "inter-ui/inter.css";

@theme {
    --default-font-family: "Inter Variable", "Inter", system-ui, sans-serif;
    --default-font-feature-settings: "frac", "cv08", "cv05", "cv04", "cv11";
    --font-sans: var(--default-font-family);
}

@custom-variant hidden (&:where([hidden] *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant colorful (&:where([data-style="colorful"], [data-style="colorful"] *));

@layer components {
    .sidebar {
        @apply p-4 bg-gray-100 dark:bg-gray-900 h-screen w-xs flex flex-col justify-stretch forced-colors:border-r gap-1 overflow-y-auto overflow-x-hidden not-sm:w-[min(var(--container-md),100svw)] not-sm:z-10 not-sm:fixed not-sm:top-0 not-sm:left-0 not-sm:bottom-0 colorful:backdrop-blur-md colorful:bg-emerald-900 colorful:dark:bg-emerald-800/70 colorful:forced-colors:border-r-2 colorful:forced-colors:border-emerald-700 colorful:shadow-lg;
        transition: width 0.2s ease;
    }
    .sidebar.collapsed {
        @apply w-16 sticky before:hidden;
    }
    :has(.sidebar.collapsed) > .sidebar-cover {
        @apply hidden;
    }
    .sidebar.collapsed .sidebar-btn {
        @apply justify-center px-1 *:not-first:opacity-0 overflow-hidden;
    }
    .sidebar.collapsed .sidebar-btn i {
        @apply mr-5;
    }
    .sidebar-btn i {
        transition: margin 0.2s ease;
    }
    .sidebar-btn {
        transition: padding 0.2s ease;
        @apply hover:bg-emerald-500/10 hover:text-emerald-700 hover:dark:text-emerald-400 p-1 px-2 text-[1.05rem] rounded text-left cursor-pointer text-gray-800 dark:text-gray-200 font-medium text-nowrap colorful:hover:bg-emerald-100/20 colorful:hover:dark:bg-emerald-700/20 colorful:not-dark:text-white;
        @variant * {
            @variant not-first {
                transition: opacity 0.2s ease;
            }
        }
    }
    .sidebar-btn[data-active="true"] {
        @apply bg-emerald-500/5 hover:bg-emerald-500/10 text-emerald-700 dark:text-emerald-400 font-semibold colorful:bg-white/90 colorful:hover:bg-white colorful:dark:bg-gray-200/10 colorful:text-emerald-700 colorful:dark:text-gray-300;
    }
    .btn {
        @apply cursor-pointer p-1 px-2 rounded bg-emerald-600 dark:bg-emerald-800 text-white hover:bg-emerald-700 hover:dark:bg-emerald-700 active:bg-emerald-900 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50 font-medium;
    }
    .btn-secondary {
        @apply border border-gray-300 bg-transparent dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 active:bg-gray-200 dark:active:bg-gray-700 disabled:border-gray-400 disabled:cursor-not-allowed disabled:opacity-50 font-medium;
    }
    .link {
        @apply text-emerald-700 dark:text-emerald-500 underline underline-offset-3 font-medium;
    }
    .input {
        @apply p-1 px-2 rounded border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-900/50 focus:outline-emerald-500 focus:outline-2 focus:outline-offset-0 focus:ring-0;
    }
    .dropdown-menu {
        @apply absolute bg-white dark:bg-gray-900 border border-gray-400 dark:border-gray-900 rounded shadow-lg mt-1 min-w-[8rem] z-10 flex flex-col;
    }
    .dropdown-item {
        @apply p-2 hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer text-left;
    }
}

@utility hr {
    content: "";
    display: block;
    height: var(--tw-hr-size, 1px);
    background-color: currentColor;
    opacity: 0.2;

    @property --tw-hr-size {
        initial-value: 1px;
        inherits: false;
    }
}

@utility hr-* {
    --tw-hr-size: calc(1px * --value(integer, [integer]));
}