@import "tailwindcss";
@import "inter-ui/inter.css";

@theme {
    --default-font-family: "Inter Variable", "Inter", system-ui, sans-serif;
    --default-font-feature-settings: "frac", "cv08", "cv05", "cv04", "cv11";
    --font-sans: var(--default-font-family);
}

@custom-variant hidden (&:where([hidden] *));

@layer components {
    .sidebar {
        @apply p-4 bg-gray-100 dark:bg-gray-900 h-screen w-xs flex flex-col justify-stretch forced-colors:border-r gap-1;
    }
    .sidebar-btn {
        @apply hover:bg-emerald-500/10 hover:text-emerald-700 hover:dark:text-emerald-400 p-1 px-2 text-[1.05rem] rounded text-left cursor-pointer text-gray-800 dark:text-gray-200 font-medium;
    }
    .sidebar-btn.active {
        @apply bg-emerald-500/20 text-emerald-700 dark:text-emerald-400 font-semibold;
    }
    .btn {
        @apply cursor-pointer p-1 px-2 rounded bg-emerald-500/50 not-dark:text-emerald-950 hover:bg-emerald-600 active:bg-emerald-700 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50 font-medium;
    }
    .link {
        @apply text-emerald-600 underline underline-offset-3 font-medium;
    }
    .input {
        @apply p-1 px-2 rounded border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 focus:outline-emerald-500 focus:outline-2 focus:outline-offset-0 focus:ring-0;
    }
    .icon {
        @apply align-[-0.25em] inline-block fill-current icon-auto;
    }
    .dropdown-menu {
        @apply absolute bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-700 rounded shadow-lg mt-1 min-w-[8rem] z-10 flex flex-col;
    }
    .dropdown-item {
        @apply p-2 hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer text-left;
    }
}

@utility icon-auto {
    height: 1em;
    width: 1em;
}
@utility icon-h {
    height: 1em;
    width: auto;
}
@utility icon-w {
    height: auto;
    width: 1em;
}
@utility hr {
    content: "";
    display: block;
    height: var(--tw-hr-size, 1px);
    background-color: currentColor;
    opacity: 0.2;
}

@utility hr-* {
    --tw-hr-size: calc(1px * --value(integer, [integer]));
}

@utility icon-* {
    font-size: calc(var(--spacing) * --value(integer, [integer]));
}